body{
    background-color: #EBEBEB;
    text-align: center;
}

.wrapper{
    overflow: auto;
    width: 100vw;
    text-align: center;
}

h1{

}

h2{

}

button{
    width: 15vw;
    height: 3vw;
    border-radius: 5vw;
    margin-top: 2vw;
}

button:hover{
    background-color: #00BFFF;
}

button:focus{
    outline-style: none;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
    width: 100vw;
}