body{
    background-color: #EBEBEB;
    text-align: center;
}

.wrapper{
    overflow: auto;
    width: 100vw;
    text-align: center;
}

h1{

}

h2{

}

button{
    width: 20vw;
    height: 3vw;
    border-radius: 1vw;
    margin-top: 2vw;
}

button:hover{
    background-color: #00BFFF;
}

button:focus{
    outline-style: none;
}

#symptomResults{
    background-color: lightgray;
    width: 30vw;
    height: 35vw;
    margin: 3vw auto;
    border-radius: 1vw;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
    width: 100vw;
}